# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# PouchDB
database/pouchdb/dbs/*
database/pouchdb/logs/*
database/pouchdb/config.json

